html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Lato", sans-serif;
  color: #3A3835;
}

img {
  display: block;
  max-width: 100%;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.hide {
  opacity: 0;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.container {
  max-width: 1406px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  font-size: 42px;
  font-weight: 800;
}

nav ul {
  margin-right: -20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
}
nav ul li {
  padding: 10px;
  margin: 0 10px;
}

main {
  margin-top: 60px;
  margin-bottom: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main picture {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
}
main div {
  -webkit-box-flex: 7;
      -ms-flex: 7;
          flex: 7;
}

.section-margin {
  margin-bottom: 200px;
}

h1 {
  font-size: 82px;
  max-width: 600px;
  line-height: 1.1em;
  margin-top: 85px;
}

.overTitle {
  color: #3A3835;
  opacity: 60%;
  font-size: 32px;
  font-weight: bold;
}

h2 {
  font-weight: bold;
  font-size: 62px;
  line-height: 1em;
  margin-bottom: 40px;
}
h2::after {
  content: "";
  display: inline-block;
  margin-left: 6px;
  width: 10px;
  height: 10px;
  background: #E1AD64;
}

.exp-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.exp-cards h3 {
  font-size: 28px;
  font-weight: bold;
}
.exp-cards h3::after {
  content: "";
  display: block;
  width: 90px;
  height: 6px;
  background: #E1AD64;
  margin-bottom: 10px;
}
.exp-cards .card {
  margin: 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 350px;
  padding: 0;
  overflow: hidden;
}
.exp-cards .card > div {
  padding: 30px;
}
.exp-cards .card p {
  opacity: 85%;
  margin-bottom: 10px;
  min-height: 76px;
}

.exp-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -5px;
}
.exp-actions div {
  background: #DFDFDF;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: bold;
  -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.16);
          box-shadow: 0 2px 1px rgba(0, 0, 0, 0.16);
  font-size: 16px;
  margin: 5px;
}

.card {
  background-color: #F7F6F3;
  padding: 30px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  position: relative;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.card:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-box-shadow: 1px 5px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 1px 5px 6px rgba(0, 0, 0, 0.16);
}

.year {
  font-size: 28px;
  font-weight: 800;
  opacity: 30%;
  position: absolute;
  top: 6px;
  right: 6px;
}

.curric h3 {
  margin-top: 40px;
  font-size: 42px;
}
.curric h3::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 40px;
  background: #E1AD64;
  margin-right: 10px;
  position: relative;
  top: 6px;
}
.curric img {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.curric h4 {
  font-size: 22px;
  opacity: 85%;
  margin-bottom: 20px;
}
.curric div div {
  position: relative;
  left: -55px;
}
.curric .btn:first-child {
  margin-bottom: 20px;
}

.btn {
  background: #DFDFDF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 211px;
  height: 60px;
  border-radius: 8px;
  font-weight: bold;
  -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.16);
          box-shadow: 0 2px 1px rgba(0, 0, 0, 0.16);
  font-size: 22px;
}

.turq::after {
  background: #74A5AF;
}

.conhecimentos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.conhecimentos .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 38px;
  font-weight: 800;
  text-align: center;
}
.conhecimentos .col h3 {
  font-size: 42px;
  margin-bottom: 40px;
  opacity: 85%;
}
.conhecimentos .col .card {
  width: 327px;
  margin-bottom: 40px;
}
.conhecimentos .col .card p {
  background: -webkit-linear-gradient(right, #A5CED4, #6A919C);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1em;
}
.conhecimentos .turq-line {
  width: 3px;
  height: 550px;
  position: relative;
  top: 60px;
  background: #74A5AF;
}

.dark-bg {
  background: #3A3835;
  padding: 80px 0;
  margin-top: 100px;
}
.dark-bg * {
  color: #fff;
}
.dark-bg .card {
  background: #292725;
  max-width: 680px;
  margin-bottom: 20px;
  z-index: 2;
}
.dark-bg .card h3 {
  font-size: 28px;
  line-height: 1.1em;
}
.dark-bg .card h3::after {
  content: "";
  display: block;
  width: 90px;
  height: 6px;
  background: #EAB6C7;
}
.dark-bg .card h4 {
  font-size: 16px;
  opacity: 85%;
}
.dark-bg .curric h3::before {
  background: #EAB6C7;
}
.dark-bg .btn {
  color: #3A3835;
}

.pinkTitle {
  color: #fff;
}
.pinkTitle::after {
  background: #EAB6C7;
}

.darker-bg {
  background: #141313;
  padding: 80px 0 160px 0;
}
.darker-bg * {
  color: white;
}
.darker-bg h2 {
  margin-bottom: 80px;
}
.darker-bg h2::after {
  background: #6696A1;
}
.darker-bg ul li {
  font-size: 42px;
  font-weight: bold;
  margin: 20px 0;
}
.darker-bg ul li::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 40px;
  background: #6696A1;
  margin-right: 6px;
  position: relative;
  top: 4px;
}

footer {
  background: #0F0E0E;
  padding: 30px 20px;
}
footer * {
  color: #fff;
  opacity: 85%;
}
footer p {
  font-size: 22px;
}
footer h3 {
  font-size: 34px;
}

section {
  position: relative;
}

.coffee {
  position: absolute;
  top: -100px;
  right: -15vw;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
}

.plant {
  position: absolute;
  top: 368px;
  left: -300px;
}

.book {
  position: absolute;
  z-index: 2;
  right: -800px;
  top: 200px;
}

.y-comp {
  position: absolute;
}

.y-comp-btn {
  margin-left: 286px;
}

.b-comp {
  position: absolute;
}

.b-comp-btn {
  margin-left: 302px;
}

@media only screen and (max-width: 1280px) and (min-width: 1150px) {
  .exp-cards .card p {
    min-height: 94.44px;
  }
}
@media only screen and (max-width: 1150px) {
  .conhecimentos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .conhecimentos .turq-line {
    height: 3px;
    width: 50%;
    top: unset;
    margin-bottom: 20px;
  }

  .coffee, .plant, .book {
    display: none;
  }
}
@media only screen and (max-width: 888px) {
  h2 {
    font-size: 40px;
  }

  .overTitle {
    font-size: 22px;
  }

  nav {
    display: none;
  }

  main picture {
    display: none;
  }

  h1 {
    font-size: 52px;
  }

  .curric h3 {
    font-size: 32px;
  }
  .curric h4 {
    font-size: 20px;
  }

  .darker-bg ul li {
    font-size: 22px;
  }
  .darker-bg ul li::before {
    height: 30px;
    top: 6px;
  }

  footer p {
    font-size: 18px;
  }
}
@media only screen and (max-width: 500px) {
  .exp-cards .card {
    min-width: 220px;
  }

  h1 {
    font-size: 42px;
  }

  .curric img {
    display: none;
  }
  .curric div {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .curric div div {
    left: 0;
  }

  .y-comp-btn {
    margin-left: 0px;
  }

  .b-comp-btn {
    margin-left: 0px;
  }

  .conhecimentos .col .card {
    width: 270px;
  }

  .conhecimentos .col h3 {
    font-size: 32px;
  }
}
.img-proj {
  position: absolute;
  border-radius: 8px;
  left: -600px;
  top: 0;
}

.proj1 {
  -webkit-animation: scrollRight 0.6s forwards, scrollTop1 10s 1s 1, scrollLeft 0.6s 10s forwards;
          animation: scrollRight 0.6s forwards, scrollTop1 10s 1s 1, scrollLeft 0.6s 10s forwards;
}

@-webkit-keyframes scrollTop1 {
  from {
    top: 0;
  }
  to {
    top: -1000px;
  }
}

@keyframes scrollTop1 {
  from {
    top: 0;
  }
  to {
    top: -1000px;
  }
}
.proj2 {
  -webkit-animation: scrollRight 0.6s forwards, scrollTop2 10s 1s 1, scrollLeft 0.6s 10s forwards;
          animation: scrollRight 0.6s forwards, scrollTop2 10s 1s 1, scrollLeft 0.6s 10s forwards;
}

@-webkit-keyframes scrollTop2 {
  from {
    top: 0;
  }
  to {
    top: -398px;
  }
}

@keyframes scrollTop2 {
  from {
    top: 0;
  }
  to {
    top: -398px;
  }
}
.proj3 {
  -webkit-animation: scrollRight 0.6s forwards, scrollTop3 10s 1s 1, scrollLeft 0.6s 10s forwards;
          animation: scrollRight 0.6s forwards, scrollTop3 10s 1s 1, scrollLeft 0.6s 10s forwards;
}

@-webkit-keyframes scrollTop3 {
  from {
    top: 0;
  }
  to {
    top: -480px;
  }
}

@keyframes scrollTop3 {
  from {
    top: 0;
  }
  to {
    top: -480px;
  }
}
.proj4 {
  -webkit-animation: scrollRight 0.6s forwards, scrollTop4 10s 1s 1, scrollLeft 0.6s 10s forwards;
          animation: scrollRight 0.6s forwards, scrollTop4 10s 1s 1, scrollLeft 0.6s 10s forwards;
}

@-webkit-keyframes scrollTop4 {
  from {
    top: 0;
  }
  to {
    top: -960px;
  }
}

@keyframes scrollTop4 {
  from {
    top: 0;
  }
  to {
    top: -960px;
  }
}
.proj5 {
  -webkit-animation: scrollRight 0.6s forwards, scrollTop5 10s 1s 1, scrollLeft 0.6s 10s forwards;
          animation: scrollRight 0.6s forwards, scrollTop5 10s 1s 1, scrollLeft 0.6s 10s forwards;
}

@-webkit-keyframes scrollTop5 {
  from {
    top: 0;
  }
  to {
    top: -400px;
  }
}

@keyframes scrollTop5 {
  from {
    top: 0;
  }
  to {
    top: -400px;
  }
}
.proj6 {
  -webkit-animation: scrollRight 0.6s forwards, scrollTop6 10s 1s 1, scrollLeft 0.6s 10s forwards;
          animation: scrollRight 0.6s forwards, scrollTop6 10s 1s 1, scrollLeft 0.6s 10s forwards;
}

@-webkit-keyframes scrollTop6 {
  from {
    top: 0;
  }
  to {
    top: -1000px;
  }
}

@keyframes scrollTop6 {
  from {
    top: 0;
  }
  to {
    top: -1000px;
  }
}
@-webkit-keyframes scrollRight {
  from {
    left: -600px;
  }
  to {
    left: 0px;
  }
}
@keyframes scrollRight {
  from {
    left: -600px;
  }
  to {
    left: 0px;
  }
}
@-webkit-keyframes scrollLeft {
  from {
    left: 0px;
  }
  to {
    left: -600px;
  }
}
@keyframes scrollLeft {
  from {
    left: 0px;
  }
  to {
    left: -600px;
  }
}
.comp {
  z-index: 2;
}

.compImg {
  position: absolute;
  top: 3px;
  left: 8px;
  border-radius: 8px;
  width: 180px;
  height: 133px;
  -o-object-fit: cover;
     object-fit: cover;
}